<div class="cont_contenido">

    <div class="contenido">


        <h1 class="title_contenido">Preguntas generales</h1>
        <h3 class="preguntas_contenido">¿Qué es Pimpineo?</h3>
        <h3 class="txt_contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>

        <!-- <h1 class="title_contenido">Preguntas generales</h1> -->
        <h3 class="preguntas_contenido">¿Qué hace la aplicación?</h3>
        <h3 class="txt_contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>

        <h3 class="preguntas_contenido">¿Dónde está la empresa?</h3>
        <h3 class="txt_contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>

        <h1 class="title_contenido">Preguntas frecuentes sobre la App</h1>
        <h3 class="preguntas_contenido">¿Cómo usar Pimpineo?</h3>
        <h3 class="txt_contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>


    </div>


</div>
<app-footer></app-footer>