.cont_contactos{

    
    background-size: 300px;
    /* background-image: url(../../../assets/img/background2.png); */

}

.degradado{
    padding: 10px;
    /* display: flex;
    justify-content: center; */
    /* background-color: rgba(0, 0, 0, 0.801); */
    background-color: #272b2c;
    /* background-color: #272b2cea; */

}


.cont_logos{
    display: flex;
    justify-content: center;
    
    /* width: 90%; */
}

.img_logo{
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../../../assets/img/lp.png);
    border-radius: 50px;
    border: 1px rgb(6, 188, 243) solid;
    /* border: 2px #beb497 solid; */
    /* background-color: rgb(114, 112, 112); */
}

/* .img_logo:hover{
    transition: 0.2s;
    margin-top: 76px;
} */

.cont_division{
    display: flex;
    justify-content: center;
    width: 100%;
}

hr{
    width: 150px;
    height: 6px;
    background-color: rgb(0, 187, 255);
    /* background-color: #beb497; */
    border-radius: 5px;
    border: 0px;
}

.title_contactos{
    margin-top: 40px;
    /* color: white; */
    color: #beb497;
    text-align: center;
}

.cont_redes{
    padding: 20px;
    display: flex;
    justify-content: center;

}

.ico_red, .ico_red1, .ico_red2{
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: red; */
    width: 40px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../../../assets/img/face_hover.png);

    /* background-image: url(../../../assets/img/face.png); */
}


.alinks:hover .ico_red{
    margin-top: -4px;
    transition: 0.2s;
    /* background-image: url(../../../assets/img/face_hover.png); */
    background-image: url(../../../../../assets/img/face.png);
}

.alinks:hover .ico_red1{

    margin-top: -4px;
    transition: 0.2s;
    /* background-image: url(../../../assets/img/inst_hover.png); */
    background-image: url(../../../../../assets/img/insta.png);
}

.alinks:hover .ico_red2{

    margin-top: -4px;
    transition: 0.2s;
    /* background-image: url(../../../assets/img/youtube_hover.png); */
    background-image: url(../../../../../assets/img/youtube1.png);
}


.ico_red1{
    /* background-image: url(../../../assets/img/insta.png); */
    background-image: url(../../../../../assets/img/inst_hover.png);

}

.ico_red2{
    

    /* height: 40px; */
    /* background-image: url(../../../assets/img/youtube1.png); */
    background-image: url(../../../../../assets/img/youtube_hover.png);

}

/* .ico_red:hover{
    margin-top: -4px;
    transition: 0.2s; */
    /* background-image: url(../../../assets/img/face_hover.png); */
    /* background-image: url(../../../assets/img/face.png);


} */

/* .ico_red1:hover{
    margin-top: -4px;
    transition: 0.2s; */
    /* background-image: url(../../../assets/img/inst_hover.png); */
    /* background-image: url(../../../assets/img/insta.png);


} */

/* .ico_red2:hover{
    margin-top: -4px;
    transition: 0.2s; */
    /* background-image: url(../../../assets/img/youtube_hover.png); */
    /* background-image: url(../../../assets/img/youtube1.png);


} */


.cont_enlaces{
    display: flex;
    justify-content: center;
    
}


h5{
    text-align: center;
    color: #beb497;
}

.barra{
    margin-left: 4px;
    margin-right: 4px;
}

.terminos:hover, .politica:hover{
    color: cadetblue;
}