<div class="cont_terminos" id="privacidad">
    <div class="nav_bar">
        <h1 class="logo">Pimpineo</h1>

        <a routerLink="/">
            <app-enlace title="Inicio"></app-enlace>
        </a>
    </div>

    <h3 class="title_general">Política de Privacidad</h3>

</div>

<div class="terminos">

    <div class="terms">
        
        <strong></strong>
        <p>Numerico LLC actualizó estas políticas de privacidad el 07/01/2020</p>
        <p>
          Numerico LLC creó la aplicación Pimpineo como
          una aplicación comercial. Este SERVICIO es proporcionado por
          Numerico LLC y está destinado a ser utilizado como
          es.
                      
                    </p> <p>
                      Esta página se utiliza para informar a los visitantes sobre nuestra
                       políticas con la recopilación, uso y divulgación de información personal
                       Información si alguien decidió utilizar nuestro Servicio.
                    </p> <p>
                      Si elige utilizar nuestro Servicio, entonces acepta
                       la recopilación y uso de información en relación con este
                       política. La información personal que recopilamos es
                       utilizado para proporcionar y mejorar el Servicio. No usaremos ni compartiremos su información con
                       cualquier persona excepto como se describe en esta Política de privacidad y Términos y condiciones.
                    </p> <p>
                      Los términos utilizados en esta Política de privacidad tienen los mismos significados
                       como en nuestros Términos y Condiciones, a los que se puede acceder en
                       Pimpineo a menos que se defina lo contrario en esta Política de privacidad.
                    </p> <p><strong>Recopilación y uso de información</strong></p> <p>
                      Para una mejor experiencia, mientras usamos nuestro Servicio,
                       puede requerir que nos proporcione ciertos datos personales
                       información identificable, que incluye, entre otros, el nombre completo, el correo electrónico y el número de teléfono. La información que
                       que solicitamos será retenido por nosotros y utilizado como se describe en esta política de privacidad.
                    </p> <div><p>
                      La aplicación utiliza servicios de terceros que pueden recopilar
                      información utilizada para identificarlo.
                      </p> <p>
                        Enlace a la política de privacidad de los proveedores de servicios externos utilizados
                         por la aplicación
                      </p> 
                        <ul>
                           <li><a href="https://firebase.google.com/support/privacy" target="_blank" rel="noopener noreferrer">Firebase Services</a></li> 
                           <li><a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play Services</a></li><!---->
                           <li><a href="https://firebase.google.com/policies/analytics" target="_blank" rel="noopener noreferrer">Google Analytics for Firebase</a></li><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                           <li><a href="https://stripe.com/privacy" target="_blank" rel="noopener noreferrer">Stripe</a></li>
                           
                        </ul></div> <p><strong>Registro de Datos</strong></p> <p>
                          Queremos informarte que siempre que
                          utilizar nuestro Servicio, en caso de error en la aplicación
                          recopilamos datos e información (a través de terceros
                          productos) en su teléfono llamado Datos de registro. Estos datos de registro pueden
                          incluir información como el Protocolo de Internet de su dispositivo
                          ("IP") dirección, nombre del dispositivo, versión del sistema operativo,
                          configuración de la aplicación al utilizar nuestro Servicio,
                          la hora y fecha de su uso del Servicio, y otros
                          Estadísticas.
                    </p> <p><strong>Cookies</strong></p> <p>
                      Las cookies son archivos con una pequeña cantidad de datos que se
                       de uso común como identificadores únicos anónimos. Estos son enviados
                       a su navegador desde los sitios web que visita y
                       almacenados en la memoria interna de su dispositivo.
                    </p> <p>
                      Este Servicio no utiliza estas "cookies" explícitamente. Sin embargo,
                       la aplicación puede utilizar código de terceros y bibliotecas que utilizan
                       “Cookies” para recopilar información y mejorar sus servicios.
                       Tiene la opción de aceptar o rechazar estas cookies.
                       y saber cuándo se envía una cookie a su dispositivo. Si tu
                       opta por rechazar nuestras cookies, es posible que no pueda utilizar algunas
                       partes de este Servicio.
                    </p> <p><strong>Proveedores de servicio</strong></p> <p>
                      Podemos emplear empresas de terceros y
                       personas por las siguientes razones:
                    </p> <ul><li>Para facilitar nuestro Servicio;</li>
                       <li>Para proporcionar el Servicio en nuestro nombre;
                      </li>
                        <li>Para realizar servicios relacionados con el servicio; o</li> 
                        <li>Para ayudarnos a analizar cómo se utiliza nuestro Servicio.</li>
                      </ul> <p>
                        Queremos informar a los usuarios de este Servicio
                        que estos terceros tienen acceso a su Personal
                        Información. El motivo es realizar las tareas asignadas a
                        ellos en nuestro nombre. Sin embargo, están obligados a no
                        divulgar o utilizar la información para cualquier otro propósito.
                    </p> <p><strong>Seguridad</strong></p> <p>
                      Valoramos su confianza al brindarnos su
                       Información personal, por lo que nos esforzamos por utilizar comercialmente
                       medios aceptables para protegerlo. Pero recuerda que ningún método
                       de transmisión a través de Internet, o método de transmisión electrónica
                       el almacenamiento es 100% seguro y confiable, y no podemos
                       Garantizamos su absoluta seguridad.
                    </p> <p><strong>Enlaces a otros sitios
                    </strong></p> <p>
                      Este Servicio puede contener enlaces a otros sitios. Si hace clic en
                       un enlace de terceros, se le dirigirá a ese sitio. Nota
                       que estos sitios externos no son operados por nosotros.
                       Por lo tanto, le recomendamos encarecidamente que revise el
                       Política de privacidad de estos sitios web. Tenemos
                       no controla ni asume ninguna responsabilidad por el contenido,
                       políticas de privacidad o prácticas de sitios de terceros o
                       servicios.
                    </p> 
                      <p><strong>Privacidad de los niños</strong></p> <p>
                        Estos Servicios no se dirigen a ninguna persona menor de 13 años.
                        No recopilamos personalmente a sabiendas
                        información identificable de niños menores de 13 años. En el caso
                        descubrimos que un niño menor de 13 años ha proporcionado
                        nosotros con información personal, inmediatamente
                        elimine esto de nuestros servidores. Si eres padre o tutor
                        y sabe que su hijo nos ha proporcionado
                        información personal, por favor contáctenos para que
                        podremos realizar las acciones necesarias.
                    </p> <p><strong>Cambios a esta política de privacidad</strong></p> <p>
                      Podemos actualizar nuestra Política de privacidad desde
                       tiempo al tiempo. Por lo tanto, le recomendamos que revise esta página.
                       periódicamente para cualquier cambio. Lo haremos
                       notificarle de cualquier cambio publicando la nueva Política de privacidad en
                       esta página.
                    </p> <p>Esta política es efectiva a partir de 2020-07-01
                    </p> <p><strong>Contacte con nosotros</strong></p> <p>
                      Si tiene alguna pregunta o sugerencia sobre nuestro
                       Política de privacidad, no dude en contactarnos a través de <a href="https://forms.gle/w2rFsLTYCtCobHpE8" target="_blank" rel="noopener noreferrer">Formulario de contacto de Pimpineo</a>
                      
                    </p>

    </div>

    
</div>

<app-contactos></app-contactos>