<div class="cont_sobre_nosotros">

    <div class=" sobre_nosotros">

        <h1 class="title_sobre_nosotros">Sobre Pimpineo</h1>


        <p class="txt_sobre_nosotros">
            Pimpineo es una aplicacion mobil creada para hacerle el proceso de recargas internacionales muy facil a nuestros 
            usuarios. Ademas contamos con un programa de referidos donde nuestros usuarios reciben creditos por recargas de aquellos que refieran.
            Somos un pequeno equipo directamente enfocados en la atencion al cliente porque ellos son lo mas importante para nosotros. 
            Ofrecemos soporte donde pueden contactarnos las 24 horas, solo llene la forma siguiente
            haciendo <a style="color: rgb(67, 202, 226);" href="https://forms.gle/QREbFD5sbNFyRUve8">click aqui</a> y un representante nuestro 
            le llamara de vuelta, tambien pueden contactarnos por nuestras redes sociales enlazadas al final de la pagina.                    
        </p>
        <!-- <p class="txt_sobre_nosotros">
            Pimpineo está diseñada para hacer el proceso de envío de recargas a teléfonos móviles en Cuba
            y el resto del mundo de una manera fácil, rápida y segura.
        </p> -->
 
        <div class="cont_facilidades">

            <div class="cont_elemento">
                <div class="img">
                    <p class="txt_img">Fácil</p>
                </div>
            </div>

            <div class="cont_elemento" id="cont_elemento2">
                <div class="img1">
                    <p class="txt_img1" id="txt_img2">Rápida</p>
                </div>
            </div>

            <div class="cont_elemento">
                <div class="img2" >
                    <p class="txt_img2">Segura</p>
                </div>
            </div>

        </div>

    </div>


    <h2 class="title_descargue" id="descargar">Descarga la Aplicacion</h2>
    <app-btn-descargar></app-btn-descargar>

</div>
<div class="relleno"></div>

<app-registro></app-registro>



