<div class="cont_sobre_nosotros">

    <div class=" sobre_nosotros">

        <h1 class="title_sobre_nosotros">Sobre Pimpineo</h1>


        <p class="txt_sobre_nosotros">
            Pimpineo es una aplicacion móvil creada para hacerle el proceso de recargas internacionales muy fácil a nuestros 
            usuarios. Además contamos con un programa de referidos donde nuestros usuarios reciben créditos por recargas de aquellos que refieran.
            Somos un pequeno equipo directamente enfocado en la atención al cliente porque ellos son lo mas importante para nosotros. 
            Ofrecemos soporte donde pueden contactarnos las 24 horas, solo llene el siguiente formulario
            haciendo <a style="color: rgb(67, 202, 226);" href="https://forms.gle/QREbFD5sbNFyRUve8">click aquí</a> y un representante nuestro 
            le llamará de vuelta, también puedes contactarnos por nuestras redes sociales enlazadas al final de la página.                    
        </p>
        <!-- <p class="txt_sobre_nosotros">
            Pimpineo está diseñada para hacer el proceso de envío de recargas a teléfonos móviles en Cuba
            y el resto del mundo de una manera fácil, rápida y segura.
        </p> -->
 
        <div class="cont_facilidades">

            <div class="cont_elemento">
                <div class="img">
                    <p class="txt_img">Fácil</p>
                </div>
            </div>

            <div class="cont_elemento" id="cont_elemento2">
                <div class="img1">
                    <p class="txt_img1" id="txt_img2">Rápida</p>
                </div>
            </div>

            <div class="cont_elemento">
                <div class="img2" >
                    <p class="txt_img2">Segura</p>
                </div>
            </div>

        </div>

    </div>


    <h2 class="title_descargue" id="descargar">Descarga la Aplicación</h2>
    <app-btn-descargar></app-btn-descargar>

</div>
<div class="relleno"></div>

<app-registro></app-registro>



