.cont_contenido{
    background-color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.contenido{
    background-color: white;
    /* padding-top: 20px; */
    width: 70%;
}

.title_contenido{
    color: #88c53a;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
    text-align: justify;
    text-justify: newspaper;
}
.preguntas_contenido{
    color: #8cb5ce;
    margin-left: 10px;
    margin-bottom: 10px;
}

.txt_contenido{
    color: black;
    margin-left: 10px;
    margin-bottom: 20px;
}