<input class="check" id="checkbox" type="checkbox"/>
<label class="lbl_menu" for="checkbox">
    <p class="relleno"></p>
</label>

<div class="cont_menu">
    <div class="cont_links">
        <ul class="cont_link_list">

            
            <a routerLink="/en">
                <li class="link">Home</li>
            </a>

            <a href="en/#download">
                <li class="link">Download</li>
            </a>

            <!-- <a routerLink="/faqs">
            <li class="link">FAQs</li>
            </a> -->

            <a href="en/#about">
            <li class="link">About Us</li>
            </a>

            <a href="en/#contact">
            <li class="link">Contact</li>
            </a>

        </ul>
    </div>
</div>
