<div class="cont_contactos">

    <div class="degradado">

        <div class="cont_logos">

            <!-- <a href="https://numerico.co/">
                <div class="img_logo"></div>
            </a> -->
            <a href="/webpage">
                <div class="img_logo"></div>
            </a>

        </div>

        <div class="cont_division">

            <hr>

        </div>

        <div class="cont_datos">
            <h3 class="title_contactos">Contáctenos</h3>

            <div class="cont_redes">

                <div class="alinks">
                    <a href="https://www.facebook.com/Pimpineo-100215731724344">
                    
                        <div class="ico_red"></div>
                    
                    </a>
                </div>

                <div class="alinks">
                    <a href="https://instagram.com/pimpineo_?igshid=yel5tag65vgx">
                        
                            <div class="ico_red1"></div>
                        
                    </a>
                </div>


                <div class="alinks">
                    <a href="https://www.youtube.com/channel/UCU1-cAa3jLXExOOU-jP_PVw">
                        
                            <div class="ico_red2"></div>
                    
                    </a>
                    <!-- https://www.youtube.com/watch?v=g7km2O_9jlQ -->

                </div>

            </div>
        </div>


        <div class="cont_terminos">

            <h5 class="txt_pimpineo">© Pimpineo 2020</h5>

           <div class="cont_enlaces">


            <a href="/terminos">
                <h5 class="terminos">Términos y Condiciones</h5>
            </a>
                <h5 class="barra">|</h5>

                <a href="/privacidad">
                    <h5 class="politica">Política de Privacidad</h5>
                </a>
            
           </div>
            

        </div>



    </div>
</div>