.title_des{
    text-align: center;
    font-size: 40px;
}


.cont_descargas{
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.img_android{
    background-image: url(../../../../assets/img/android2.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: teal; */
}

.img_ios{
    background-image: url(../../../../assets/img/ios.png);
    /* padding-top: 10px; */
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: tomato; */
}

.img_android:hover{
    transition: 0.1s;
    margin-top: -4px;
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);

}

.img_ios:hover{
    transition: 0.1s;
    margin-top: -4px;
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);

}