<div class="cont_registro">

    <app-menu-en class="menu_inicio"></app-menu-en>
    <app-en class="btn_en" ruta="/registro"></app-en>
    <app-top-links ruta_btn_lang="/registro"></app-top-links>

    <strong>
        <p class="reg_title">
            SIGN UP        
        </p>
    </strong>

    <div class="cont_form">

        <form method="post">

            <div class="cont_dato">
                <p class="txt_registro">First Name:</p>
                <input type="text" name="nombre" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">Last Name:</p>
                <input type="text" name="usuario" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">User:</p>
                <input type="text" name="usuario" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">Password:</p>
                <input type="password" name="password" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">Confirm Password:</p>
                <input type="password" name="password1" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">Phone:</p>
                <input type="tel" name="telefono" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_telefono">
            </div>

            <div class="cont_dato">
                <p class="txt_registro">Email:</p>
                <input type="email" name="correo" maxlength="150" autocapitalize="none"
                        autofocus="" required="True" id="id_correo">
            </div>


            <div class="cont_btn_confirmar">
                <button type="submit" class="btn_confirmar">
                     <p class="txt_btn_confirmar">Sign</p>
                </button>
            </div>

        </form>

        <p class="txt_warning">By registering you accept our Terms & Conditions and Privacy Policy</p>


    </div>

</div>

