.cont_registro{
    height: 500px;
    /* padding: 10px; */
    /* background-color: #ff4e4e; */
    /* background-color: #e4a826; */
    background-color: #054fa7;
    /* background-color: rgb(0, 187, 255); */
    /* background-color: rgb(56, 106, 243); */
    /* background-image: url(../../../../assets/img/bajo.png); */
    /* background-size: 240px; */
}

.cont_reg{
    display: flex;
    justify-content: space-around;
}

.reg{
    width: 100%;
    padding: 10px;
}

.cont_text{
    /* background-color:rgb(0, 187, 255); */
    background-color: #054fa7;
    margin-bottom: 10px;

}

h1, h2{
    color: white;
    /* margin-left: 50px; */
    /* background-color: black; */
    text-align: center;
    text-shadow: 0px 0px 4px black;

    
}
/* h1{
    color:rgb(0, 187, 255);
    margin: 10px;
    margin-left: 50px;*/
    /* background-color: black; */
    /*text-shadow: 0px 0px 2px black;

    
} */

.cont_img{
    display: flex;
    justify-content: center;

}

.registro, .registro2{
    
    margin-top: -10px;
    width: 160px;
    height: 290px;
    background-color: white;
    background-image: url(../../../../../assets/img/inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* box-shadow: 0px 2px 6px 1px rgb(59, 59, 59); */
    box-shadow: 0px 2px 6px 1px rgb(90, 87, 87);

    border: 2px solid white;
    border-radius: 10px;
    /* background-color: #ff4e4e; */

    animation: mov_tarjetas linear 2s alternate infinite;
}

.registro2{

    margin-left: 4px;
    background-image: url(../../../../../assets/img/registro.png);

 
}


@media (min-width: 600px) {
    
    .registro, .registro2{
        margin-top: -50px;
        width: 230px;
        height: 400px;
        background-color: white;
        background-image: url(../../../../../assets/img/inicio.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        /* box-shadow: 0px 2px 6px 1px rgb(59, 59, 59); */
        box-shadow: 0px 2px 6px 4px rgb(90, 87, 87);
    
        border: 2px solid white;
        border-radius: 10px;
        /* background-color: #ff4e4e; */
    
        transform:rotate(-45deg);
        -ms-transform:rotate(-45deg); /* IE 9 */
        -moz-transform:rotate(-45deg); /* Firefox */
        -webkit-transform:rotate(-45deg); /* Safari and Chrome */
        -o-transform:rotate(-45deg);
        animation: mov_tarjetas linear 2s alternate infinite;
    }
    
    .registro2{
    
        background-image: url(../../../../../assets/img/registro.png);
    
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -moz-transform:rotate(45deg); /* Firefox */
        -webkit-transform:rotate(45deg); /* Safari and Chrome */
        -o-transform:rotate(45deg);
    }

  

 }



@keyframes mov_tarjetas {
    from {}
    to {margin-top: -20px;}
  }