.cont_descargar{
    
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;

}
    
.cont_btn_descargar{
        display: flex;
}

.android, .ios{
        background-color: black;
        margin-right: 10px;
        width: 165px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../../../assets/img/download_app.png);
        border: 4px black solid;
        border-radius: 10px;
}
.ios{
        margin-left: 10px;
        margin-right: 0px;
        background-image: url(../../../assets/img/download_ipa.png);
}
    
.btn_descargar:hover .android{

        margin-top: -4px;
}

.btn_descargar:hover .ios{

        margin-top: -4px;
}

/* .android:hover, .ios:hover{

        margin-top: -4px;
} */

/* .txt_descargar{
        font-size: 40px;
        text-align: center;
        border: 2px solid white;
        border: 2px solid #054fa7;
        background-color: white;
        border-radius: 50px;
        padding: 10px;
    
}
    
.txt_descargar:hover{
        margin-top: -2px;
        background-color: #5699f4;
        background-color: white;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.466);       
    
} */

/* @font-face {
    font-family: Poppins;
    src: url(./../../../font/Poppins-Medium.ttf);
    } */
    