<div class="cont_sobre_nosotros">

    <div class=" sobre_nosotros">

        <h1 class="title_sobre_nosotros">About Pimpineo</h1>


        <p class="txt_sobre_nosotros">
            Pimpineo is a mobile application created to make the international recharge of cellphone balance process very easy for our users.
            We also have a referral program where our users receive credits for recharges from those they refer.
             We are a small team directly focused on customer service because they are the most important thing for us.
              We offer support where you can contact us 24 hours, just fill out the following form by
              <a style="color: rgb(67, 202, 226);" href="https://forms.gle/QREbFD5sbNFyRUve8">clicking here</a> and one of our representatives
               will call you back, you can also contact us through our social networks linked at the bottom of the page.                    
        </p>
        <!-- <p class="txt_sobre_nosotros">
            Pimpineo está diseñada para hacer el proceso de envío de recargas a teléfonos móviles en Cuba
            y el resto del mundo de una manera fácil, rápida y segura.
        </p> -->
 
        <div class="cont_facilidades">

            <div class="cont_elemento">
                <div class="img">
                    <p class="txt_img">Easier</p>
                </div>
            </div>

            <div class="cont_elemento" id="cont_elemento2">
                <div class="img1">
                    <p class="txt_img1" id="txt_img2">Faster</p>
                </div>
            </div>

            <div class="cont_elemento">
                <div class="img2" >
                    <p class="txt_img2">Safer</p>
                </div>
            </div>

        </div>

    </div>


    <h2 class="title_descargue" id="download">Download the App</h2>
    <app-btn-descargar></app-btn-descargar>

</div>
<div class="relleno"></div>

<app-register></app-register>



