
.cont_logo{
    /* width: 90%; */
    margin-top: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.logo_pimpi{ 
    /* margin-top: 20vh;    */
    font-size: 80px;
    /* color: white; */
    color: #054fa7;
    font-family: Pacifico;
    
    
}

/* .logo_neo{     */
/*
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
*/
    /* margin-left: 6px; */
    /* font-size: 80px;
    width: 150px;
    text-align: left; */
    /* color: #054fa7; */
    /* color: white; */
    /* font-family: Pacifico; */
    /* background-color: white; */
    /* background-color: #054fa7; */
/* } */


@media (min-width: 768px) {
    .cont_logo{
        /* width: 90%; */
        margin-top: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    
    .logo_pimpi{    
        font-size: 80px;
        /* color: white; */
        color: #054fa7;
        font-family: Pacifico;
        
    }

 }


@font-face {
    font-family: Pacifico;
    src: url(./../../../font/Pacifico-Regular.ttf);
}