.links_superiores{
    visibility: hidden;

}


@media (min-width: 768px) {
    .links_superiores{
        visibility: visible;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }

 }

