
<div class="links_superiores">
    <div class="cont_links">
    
        <a routerLink="/">
            <app-enlace title="Inicio"></app-enlace>
        </a>

        <a href="/#descargar">
        <app-enlace title="Descargar"></app-enlace>
        </a>

        <a href="/#sn">
            <app-enlace title="Nosotros"></app-enlace>
        </a>

        <a href="/#contactos">
            <app-enlace title="Contactar"></app-enlace>
        </a>

        <div class="cont_usuario">

            <div class="link_registro">
                <a class="registro" routerLink="/registro">
                    <div class="ico_registro"></div>
                    <p class="txt_registro">Registro</p>
                </a>
            </div>
    
            <div class="link_login">
                <a class="login" routerLink="/login">
                    <div class="ico_login"></div>
                    <p class="txt_login">Cuenta</p>
                </a>
            </div>
    
        </div>

        <app-es class="btn_lang" ruta={{ruta_btn_lang}}></app-es>

    </div>
    

    <!-- <div class="cont_usuario">

        <div class="link_registro">
            <a class="registro" routerLink="/registro">
                <div class="ico_registro"></div>
                <p class="txt_registro">Registro</p>
            </a>
        </div>

        <div class="link_login">
            <a class="login" routerLink="/login">
                <div class="ico_login"></div>
                <p class="txt_login">Cuenta</p>
            </a>
        </div>

    </div> -->

    <!-- <a class="link_lang" routerLink="en"> -->
        <!-- <app-es class="btn_lang"></app-es> -->
    <!-- </a> -->

</div>