.check{
    display: none;
}
.relleno{
    width: 70px;
    height: 52px;
}


.lbl_menu, .lbl_menu:before, .lbl_menu:after{
    position: absolute;
    transition: 0.3s;
    z-index: 2;
    top: 26px;
    left: 10px;
    width: 40px;
    height: 7px;
    /* background: white; */
    background: #054fa7;
    border-radius: 30px;
    content: "";

    /* width: 60px;
    height: 10px; */
}

.lbl_menu:before{
    top: 14px;
}

.lbl_menu:after{
    left: 20px;
    top: 28px;
}

 .lbl_menu:hover {
     cursor: pointer;
    top: 24px;
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);
}

.lbl_menu:hover::before {
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);
}

.lbl_menu:hover::after {
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);       
} 


.cont_menu{
    /* visibility: hidden; */
display: none;
    /* background-color: red; */
    width: 100%;
    /* height: 100px; */
    top: 0px;
    position: absolute;
    z-index: 1;
    /* transition:cubic-bezier(0.23, 1, 0.320, 1) 10s; */

}

/* .cont_list_links{
    text-align: center;
} */

.link{
    /* margin-top: 2px; */
    padding: 15px;
    font-size: 20px;
    text-align: center;
    justify-items: center;
    
    /* color: #054fa7; */
    color: white;
}
/* .link:active{
    margin-bottom: 2px;
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466); 
    transition: linear 1s;
} */

.link:hover{
    /* background-color: #054fa7; */
    background-color: white;
    /* color: white; */
    color: #054fa7;
    margin-bottom: 2px;
    box-shadow: 2px 2px 2px 2px rgba(155, 154, 154, 0.466);       
}



/* ------------------------CHECKED-------------------------- */


.check:checked ~ .cont_menu{
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    
    /* background-color: white; */
    background-color: #054fa7;
    /* transition: 0.1s; */
}

.check:checked ~ .lbl_menu{
    /* background-color: #054fa7; */
    background-color: white;
    transition: 0.3s;
    /* rotate: 45deg; */
    position: absolute;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(45deg);
}
.check:checked ~ .lbl_menu:hover::before{
    position: absolute;
    box-shadow: none;
}
.check:checked ~ .lbl_menu:before{
    position: absolute;
    /* background-color: #054fa7; */
    background-color: white;
    /* display: none; */
    transition: 0.3s;
    width: 18px;
    top: -10px;
    left: 10px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg);

}

.check:checked ~ .lbl_menu::after{
    transition: 0.3s;
    width: 18px;
    top: 12px;
    left: 10px;
    /* rotate: 90deg; */
    box-shadow: 1px 1px;
    /* background-color: #054fa7; */
    background-color: white;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg);
}

.check:checked ~ .lbl_menu:hover:after{
    transition: 0.3s;
    width: 18px;
    /* rotate: 90deg; */
    box-shadow: 1px 1px;
    box-shadow: 2px 2px 2px 1.5px rgba(155, 154, 154, 0.466);       
    /* border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; */
    /* background-color: #054fa7; */
    background-color: white;
    
}