<input class="check" id="checkbox" type="checkbox"/>
<label class="lbl_menu" for="checkbox">
    <p class="relleno"></p>
</label>

<div class="cont_menu">
    <div class="cont_links">
        <ul class="cont_link_list">

            
            <a routerLink="/">
                <li class="link">Inicio</li>
            </a>

            <a href="/#descargar">
                <li class="link">Descargas</li>
            </a>

            <!-- <a routerLink="/faqs">
            <li class="link">FAQs</li>
            </a> -->

            <a href="/#sn">
            <li class="link">Sobre Nosotros</li>
            </a>

            <a href="/#contactos">
            <li class="link">Contactar</li>
            </a>

        </ul>
    </div>
</div>
