.cont_switch{
    width: 60px;
    height: 30px;
    display: flex;
    /* background-color: #054fa7; */
    background-image: linear-gradient(90deg,#054fa7,rgb(0, 162, 255));
    justify-content: space-around;
    padding-right: 4px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 1px 1px 4px 1px gray;

}

.btn_ctrl{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.txt_lang{
    color: white;
}